.info_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.info_content{
    width: 35%;
    height: fit-content;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 2vh;
    padding: 2vh 1vw;
}

.info_header{
    margin: 1vh 0;
}

.info_header h3{
    padding-bottom: 0.5vh;
}