.header{
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 16%;
}

.search_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.search_section img{
    width: 33px;
    height: 33px;
    margin-right: 10px
}

.search_section input{
    max-width: 17vw;
    height: 33px;
    outline: none;
    border: none;
    background-color: #EEF3F7;
    border-radius: 3px;
    padding: 1vw;
}

.search_section input::placeholder{
    font-size: 15px;
}

.header_list{
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.header_list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 5vw;
    height: 100%;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    color: rgb(93, 93, 93)
}

.header_list li:hover{
    color: black;
    border-bottom: 2px solid black;
}

.header_list li img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1200px) {
    .header_list li{
        font-size: 12px;
        margin: 0 1vw;
    }

    .header{
        padding: 0 5%;
    }
}